@media only screen and (min-width: 64em) {
    .header-content {
        max-width: 1200px;
        margin: 0 auto;
    }

    #primary-nav li {
        margin: 0 0.5rem;
    }

    #primary-nav a {
        padding: 0.5rem 1rem;
    }

    #directory-container.grid {
        grid-template-columns: repeat(3, 1fr);
    }


    .home-main {
        grid-template-columns: 1fr 2fr 1fr;
        gap: 2rem;
        padding: 2rem;
    }

    .hero {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .hero-image {
        height: 500px;
    }

    .hero-content h2 {
        font-size: 2.5rem;
    }

    .event-section {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .weather-section {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .spotlight-section {
        grid-column: 2 / -1;
        grid-row: 2 / 4;
    }

    .spotlights-container {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        padding: 2rem;
    }

    .footer-top {
        max-width: 1200px;
        margin: 0 auto 1.5rem auto;
    }

    .footer-social,
    .footer-bottom {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 80em) {
    #directory-container.grid {
        grid-template-columns: repeat(4, 1fr);
    }
}